@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

        *{
            margin: 0;
            padding: 0;
            font-family: "Raleway", sans-serif;
        }
        .container{
            width: auto;
            height: 80vh;
            /* background-color: aquamarine; */
            display: flex;
            justify-content: space-around;
            /* justify-content: center; */
            /* position: relative; */
        }
        .menu-box{
            width: 30vw;
            height: auto;
            background-color: rgb(232, 229, 232);
            position: absolute;
            top: 25%;
            text-align: center;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
        ul{
            list-style: none;
            margin: 10px;
        }
        li{
            margin-bottom: 12px;
        }
        button{
            background-color: rgb(232, 229, 232);
            border-radius: 50px;
            width: 100%;
            font-size: larger;
            color: black;
            border: none;
            margin: 2px;
        }
        h3{
            padding: 10px;
        }
        button:hover{
            transition: all 0.2s ease;
            background-color: rgba(255, 119, 0, 0.2);
            outline: 1px solid rgba(212, 73, 13, 0.5); 
            /* box-shadow: rgba(212, 73, 13, 0.8) 0px 4px 8px; */
        }

        .features{
            display: none;
            top: 300px;
            position: relative;
            width: 60vw;
            height: 15vh;
            background-color: rgb(232, 229, 232);
            text-align: center;
            border-radius: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }

        input{
            width: auto;
            height: 20px;
            margin-top: 30px;
            text-align: center;
            font-size: x-large;
        }

        .add ,.substract{
            margin-top: 15px;
            width: 8vw;
            height: 8vh;
            font-size: xx-large;
            
        }
        .chords-inp{
            width: 20vw;
            height: 5vh;
        }
        input::placeholder {
            letter-spacing: 4px;
            text-align: center;
        }
        
        /* darkmode lightmode configure */
        .light-dark{
            margin-top: 5px;
            position: relative;
        }

        .top-section{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .light-dark{
            width: 3vw;
        }
        button .sun .moon{
            font-size: larger;
            position: absolute;
        }

        .sun{
            display: none;
        }

        .moon{
            display: block;
        }

        /* for phone */
        @media screen and (max-width:425px){
            .menu-box{
                width: 300px;
                height: auto;
                background-color: rgb(232, 229, 232);
                position: absolute;
                top: 25%;
                text-align: center;
                border-radius: 25px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
        }
        /* for tablet */
        @media screen and (min-width:426px) and (max-width:768px){
            .menu-box{
                width: 400px;
                height: auto;
                background-color: rgb(232, 229, 232);
                position: absolute;
                top: 25%;
                text-align: center;
                border-radius: 25px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
        }
        